.super-mario {
    width: 200px;
    position: absolute;
    left: 50px;
}

.goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 50px;
}

.baloon {
    position: relative;
    left: 80px;
    z-index: 1;
}

.speach {
    font-size: 25px;
    display: inline;
    position: relative;
    top: -110px;
    left: 350px;
    z-index: 2;
}

.bowser {
    width: 200px;
    position: absolute;
    left: 610px;
    top: 200px;
}